= simple_form_for [@article, @article.comments.build], local: true do |form|
  = form.input :commenter, input_html: { class: 'flex flex-column border border-black', placeholder: 'Write your name' }
  = form.input :body, as: :text, input_html: { class: 'flex flex-column border border-black', placeholder: 'Write your comment' }
  = form.submit